*{
    padding: 0;
    margin : 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 8px;
}
header{
    background-color: aqua;
    grid-column: span 3;
}
footer{
    background-color: aqua;
    grid-column: span 3;
}
aside{
    background-color:antiquewhite;
    grid-row: span 3;

}
main{
    background-color:crimson;
    grid-column: span 2;
    grid-row: span 3;
}
